{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block top-file %}
<link href="{% static 'blog/css/account.css' %}?v=20171229.01966" rel="stylesheet">
{% endblock %}

{% block head_title%}个人资料{% endblock%}

{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
            <div class="card rounded-0 px-3 px-lg-4">
                <div class="card-header text-center bg-white py-2"><h3 class="my-1 text-info">个人资料</h3></div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold">用户名：</span>
                            <span>{{ user.username }}</span>
                        </li>
                        {% for emailaddress in user.emailaddress_set.all %}
                            {% if emailaddress.primary or user.emailaddress_set.count == 1 %}
                            <li class="list-group-item ml-5 border-0" title="提示：已验证邮箱的用户有更多特权！">
                                <span class="font-weight-bold">邮&emsp;箱：</span>
                                <span>{{ emailaddress.email }}</span>
                            </li>
                            {% endif %}
                        {% endfor %}
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold">年&emsp;龄：</span>
                            <span>{{ user.age }}</span>
                        </li>
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold">性&emsp;别：</span>
                            {% if user.sex == 0 %}
                            <span> 男 </span>
                            {% else %}
                            <span> 女 </span>
                            {% endif %}
                        </li>
                        
                    </ul>
                </div>
                <div class="text-center mb-5" id="social-login">
                    <div class="more-link mt-3">
                        <a class="btn btn-info btn-sm rounded-0 mx-lg-3 mx-sm-2" href="{% url 'user:profile_change' %}">修改资料</a>
                        <a class="btn btn-info btn-sm rounded-0 mx-lg-3 mx-sm-2" href="{% url 'account_change_password' %}">修改密码</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}